API/src/main/webapp/WEB-INF/wsdl/IOWLogica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="http://tempuri.org/webservices/adastra" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/webservices/adastra">
      <s:import namespace="http://tempuri.org/" />
      <s:element name="AddUpdateCase">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUpdateCaseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUpdateCaseResult" type="tns:AddUpdateCaseResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:complexType name="AddUpdateCaseResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ResultDetails" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddUpdateCaseSoapIn">
    <wsdl:part name="parameters" element="s0:AddUpdateCase" />
  </wsdl:message>
  <wsdl:message name="AddUpdateCaseSoapOut">
    <wsdl:part name="parameters" element="s0:AddUpdateCaseResponse" />
  </wsdl:message>
  <wsdl:portType name="AdastraWebServiceSoap">
    <wsdl:operation name="AddUpdateCase">
      <wsdl:input message="tns:AddUpdateCaseSoapIn" />
      <wsdl:output message="tns:AddUpdateCaseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdastraWebServiceSoap" type="tns:AdastraWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUpdateCase">
      <soap:operation soapAction="http://tempuri.org/webservices/adastra/AddUpdateCase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdastraWebServiceSoap1" type="tns:AdastraWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUpdateCase">
      <soap12:operation soapAction="http://tempuri.org/webservices/adastra/AddUpdateCase" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdastraWebService">
    <wsdl:port name="AdastraWebServiceSoap" binding="tns:AdastraWebServiceSoap">
      <soap:address location="http://localhost/IoW/eCareLogic_GPOutOfHoursService/webservices/AdastraWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdastraWebServiceSoap1" binding="tns:AdastraWebServiceSoap1">
      <soap12:address location="http://localhost/IoW/eCareLogic_GPOutOfHoursService/webservices/AdastraWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>